* {
    font-family: Roboto;
}


header {
    background-color: #1F2937;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    
}

.top-right-links {
    
    list-style: none;
    margin: 0;
    padding-right: 250px;
    display: flex;
}

.top-right-links li {
    
    margin-left: 10px;
}

.top-right-links a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.top-right-links a:hover {
    background-color: #fff;
    color: #333;
}

.container {
    background-color: #1F2937;
    display: flex;
    padding-left: 250px;
}

.section1 {
    padding-right: 250px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#section1-text {
    color: #E5E7EB;
    font-size: 18px;

}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px;
    padding: 7px;
    border-radius: 10px;
}

#spaniel {
    padding-right: 250px;
    padding-bottom: 50px;
}

.container2 {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    
}

.section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.box {
    border: 5px solid rgb(0, 89, 255);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    
    text-align: center;
    padding: 250px;
    
}

#quote {
    font-size: 36px;
    font-style: italic;
}